[[!meta title="Privacy for anyone anywhere"]]

<div id="homepage">

<div id="intro">

<p>
Tails is a [[!wikipedia desc="live operating system" Live_USB]], that
you can start on almost any computer from a DVD, USB stick, or SD card.
It aims at preserving your <strong>privacy</strong> and
<strong>anonymity</strong>, and helps you to:
</p>

<ul>
  <li>
    <strong>use the Internet anonymously</strong> and <strong>circumvent
    censorship</strong>;<br />
    all connections to the Internet are forced to go through [[the Tor
    network|https://www.torproject.org/]];
  </li>
  <li>
    <strong>leave no trace</strong> on the computer you are using unless
    you ask it explicitly;
  </li>
  <li>
    <strong>use state-of-the-art cryptographic tools</strong> to encrypt your
    files, emails and instant messaging.
  </li>
</ul>

<p>
[[Learn more about Tails.|about]]
</p>

[[!inline pages="news/who_are_you_helping/include" raw="yes"]]

</div> <!-- #intro -->

<div id="news">

<h1>News</h1>

[[!inline pages="news/* and !news/*/* and !news/discussion and currentlang()" show="2" feeds="no" archive="yes"]]

<p>See [[News]] for more.</p>

</div> <!-- #news -->

<div id="security">

<h1>Security</h1>

[[!inline pages="security/* and !security/audits and !security/audits.* and !security/audits/* and !security/*/* and !security/discussion and currentlang()" show="2" feeds="no" archive="yes"]]

<p>See [[Security]] for more.</p>

</div> <!-- #security -->

<div class="three-blocks bottom">
<a href="https://www.debian.org/" class="noicon">[[!img lib/debian.png link="no"]]</a>
<p class="center">Tails is built upon <a href="https://www.debian.org/">Debian</a>.</p>
</div>

<div class="three-blocks bottom">
[[!img lib/free-software.png link="doc/about/license"]]
<p class="center">Tails is [[Free Software|doc/about/license]].</p>
</div>

<div class="three-blocks bottom">
<a href="https://www.torproject.org/" class="noicon">[[!img lib/tor.png link="no"]]</a>
<p class="center">Tails sends its traffic through <a href="https://torproject.org/">Tor</a>.</p>
</div>

</div> <!-- #homepage -->
