[[!meta title="Verify the ISO image using Linux with Gnome"]]

<h3>Install <code>seahorse-nautilus</code></h3>

<p>You need to have the <code>seahorse-nautilus</code> package
installed.</p>

<ul>
<li><code>seahorse-nautilus</code> is already installed in Tails.</li>
<li>In Debian or Ubuntu, if you are unsure or want to install <code>seahorse-nautilus</code>, you can issue the following commands:

<pre>
sudo apt-get update
sudo apt-get install seahorse-nautilus
</pre>

<div class="note">

<p>The <code>seahorse-nautilus</code> package is only available in:

  <ul>
  <li>Debian starting from version 7 (Wheezy), as a
  <a href="http://backports.debian.org/">backport</a>. See the
  installation <a href="http://backports.debian.org/Instructions/">instructions</a>
  on the Debian Backports website.</li>
  <li>Ubuntu starting from version 14.04 (Trusty).</li>
  </ul>

</p>

<p>If you are unable to install it, try
[[verifying the ISO using the command line|verify_the_iso_image_using_the_command_line]].</p>

</div>

</li>
</ul>

<h3>Get the Tails signing key</h3>

<p>If you are using Tails, you already have the signing
key. Otherwise, first download Tails signing key:</p>

[[!inline pages="lib/download_tails_signing_key" raw="yes"]]

<p>Your browser should propose you to open it with "Import Key". Choose
this action. It will add Tails signing key to your keyring, the
collection of OpenPGP keys you already imported:</p>

<p>[[!img import_key.png alt="What should the web browser do with this file? Open
with: Import Key (default)" link="no"]]</p>

<p>You will get notified will the following message:</p>

<p>[[!img key_imported.png alt="Key Imported. Imported a key for Tails
developers (signing key) &lt;tails@boum.org&gt;" link="no"]]</p>

<div class="bug">

<p>The GNOME notifications appear truncated on Tails 1.1 and later.<br/>
See&nbsp;[[!tails_ticket 7249]].</p>

</div>

<h3>Verify the ISO image</h3>

<p>Now, download the cryptographic signature corresponding to the ISO
image you want to verify:</p>

[[!inline pages="lib/download_stable_i386_iso_sig" raw="yes"]]

<p>Your browser should propose you to open it with "Verify Signature".
Choose this action to start the cryptographic verification:</p>

<p>[[!img verify_signature.png alt="What should the web browser do with this file?
Open with: Verify Signature (default)" link="no"]]</p>

<p>Browse your files to select the Tails ISO image you want to verify.
Then, the verification will start. It can take several minutes:</p>

<p>[[!img verifying.png alt="Verifying" link="no"]]</p>

<p><strong>If the ISO image is correct</strong> you will get a
notification telling you that the signature is good:</p>

<p>[[!img good_signature.png alt="Goog Signature" link="no"]]</p>

<p><strong>If the ISO image is not correct</strong> you will get a
notification telling you that the signature is bad:</p>

<p>[[!img bad_signature.png alt="Bad Signature: Bad or forged signature."
link="no"]]</p>
