[[!meta title="Verify the ISO image using the command line"]]

<p>You need to have GnuPG installed. GnuPG is the common OpenPGP
implementation for Linux: it is installed by default under Debian,
Ubuntu, Tails and many other distributions.</p>

<h3>Get the Tails signing key</h3>

<p>First, <strong>download Tails signing key</strong>:</p>

[[!inline pages="lib/download_tails_signing_key" raw="yes"]]

<p>Open a terminal and <strong>import Tails signing key</strong> with the following
commands:</p>

<pre>
cd [the directory in which you downloaded the key]
gpg --keyid-format long --import tails-signing.key
</pre>

<p>The output should tell you that the key was imported:</p>

<pre>
gpg: key 1202821CBE2CD9C1: public key "Tails developers (signing key) &lt;tails@boum.org&gt;" imported
gpg: Total number processed: 1
gpg:               imported: 1  (RSA: 1)
</pre>

<p><strong>If you had already imported Tails signing key in the
past</strong>, the output
should tell you that the key was not changed:</p>

<pre>
gpg: key 1202821CBE2CD9C1: "Tails developers (signing key) &lt;tails@boum.org&gt;" not changed
gpg: Total number processed: 1
gpg:              unchanged: 1
</pre>

<p><strong>If you are shown the following message</strong> at the end of
the output:</p>

<pre>
gpg: no ultimately trusted keys found
</pre>

<p>Analyse the other messages as usual: this extra message doesn't
relate to the Tails signing key that you downloaded and usually means
that you didn't create an OpenPGP key for yourself yet, which of no
importance to verify the ISO image.</p>

<h3>Verify the ISO image</h3>

<p>Now, <strong>download the cryptographic signature</strong> corresponding to the ISO
image you want to verify and save it in the same folder as the ISO
image:</p>

[[!inline pages="lib/download_stable_i386_iso_sig" raw="yes"]]

<p>Then, <strong>start the cryptographic verification</strong>, it can take several
minutes:</p>

<p class="pre">
cd [the ISO image directory]<br />
[[!inline pages="inc/stable_i386_gpg_verify" raw="yes"]]
</p>

<p><strong>If the ISO image is correct</strong> the output will tell you
that the signature is good:</p>

<pre>
gpg: Signature made Sat 30 Apr 2011 10:53:23 AM CEST
gpg:                using RSA key 1202821CBE2CD9C1
gpg: Good signature from "Tails developers (signing key) &lt;tails@boum.org&gt;"
</pre>

<p>If you see the following warning:</p>

<pre>
gpg: WARNING: This key is not certified with a trusted signature!
gpg:          There is no indication that the signature belongs to the owner.
Primary key fingerprint: 0D24 B36A A9A2 A651 7878  7645 1202 821C BE2C D9C1
</pre>

<p>Then the ISO image is still correct, and valid according to the Tails signing
key that you downloaded. This warning is related to the trust that you put in
the Tails signing key. See, [[Trusting Tails signing
key|doc/get/trusting_tails_signing_key]]. To remove this warning you would have
to personally <span class="definition">[[!wikipedia Keysigning
desc="sign"]]</span> the Tails signing key with your own key.</p>

<p><strong>If the ISO image is not correct</strong> the output will tell
you that the signature is bad:</p>

<pre>
gpg: Signature made Sat 30 Apr 2011 10:53:23 AM CEST
gpg:                using RSA key 1202821CBE2CD9C1
gpg: BAD signature from "Tails developers (signing key) &lt;tails@boum.org&gt;"
</pre>
